{% extends 'base.html' %}
{% block body %}

<h1 align="center">Django Learning Project</h1>
<h2 align="center">Welcome {{ name }} to Django Learning Project. We got your detail following this.</h2>
<table role="presentation" align="center">
	<tr>
		<td>Email</td>
		<td>{{ email }}</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{ name }}</td>
	</tr>
	<tr>
		<td>ID</td>
		<td>{{ citizen_id }}</td>
	</tr>
	<tr>
		<td>Gender</td>
		<td>{{ gender }}</td>
	</tr>
	<tr>
		<td>House Number</td>
		<td>{{ address.house_number }}</td>
	</tr>
	<tr>
		<td>Village</td>
		<td>{{ address.village }}</td>
	</tr>
	<tr>
		<td>Road</td>
		<td>{{ address.road }}</td>
	</tr>
	<tr>
		<td>Sub District</td>
		<td>{{ address.sub_district }}</td>
	</tr>
	<tr>
		<td>District</td>
		<td>{{ address.district }}</td>
	</tr>
	<tr>
		<td>Province</td>
		<td>{{ address.province }}</td>
	</tr>
	<tr>
		<td>Zip Code</td>
		<td>{{ address.zip_code }}</td>
	</tr>
</table>

{% endblock %}