{% comment %} {% extends "template.html" %} {% endcomment %}
{% block body %}

<strong>Welcome <mark>{{ name }}</mark> to DjangoLearningProjects</strong>
<br>

<strong>We got your detail following below this</strong>
<br>

<strong>Name: {{ name }}</strong>
<strong>Email: {{ email }}</strong>
<strong>Citizen ID: {{ citizen_id }}</strong>
<strong>Gender: {{ gender }}</strong>
<strong>address: </strong> <br>
<strong style="tab-size: 4">Email: {{ email }}</strong> <br>
<strong style="tab-size: 4">Emahoil: {{ email }}</strong> <br>
<strong style="tab-size: 4">Email: {{ email }}</strong> <br>
<strong style="tab-size: 4">Email: {{ email }}</strong> <br>
<strong style="tab-size: 4">Email: {{ email }}</strong> <br>



{% endblock %}